@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Carter+One');
@import url('https://fonts.googleapis.com/css?family=Coda:400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo');

:root {
  --light-grey: rgb(176, 176, 176);
  --light-dark-grey: rgb(68, 68, 68);
  --dark-grey: rgb(44, 45, 48);
  --dark-blue: rgb(56, 63, 86);
  --dark-blue-pressed: rgb(51, 56, 71);
  --light-dark-turquoise: rgb(64, 153, 130);
  --dark-turquoise: rgb(70, 109, 99);
  --dark-turquoise-pressed: rgb(65, 94, 86);
  --material-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
  --material-shadow-light: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  --banhammer-purple: rgb(205, 206, 255);
  --substarters-yellow: rgb(252, 175, 23);
  --substarters-blue: rgb(0, 17, 60);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.25);
  /*var(--dark-blue);*/
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--dark-turquoise);
  /*border-radius: 3px;
  box-shadow: var(--material-shadow);*/
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--dark-turquoise-pressed);
}

::selection {
  color: white;
  background: var(--light-dark-turquoise);
}

code {
  background-color: rgba(0,0,0,0.3);
  padding: 2.5px;
}

body {
  background-color: var(--dark-grey);
  font-family: Nunito Sans;
  color: white;
}

html {
  scroll-behavior: smooth;
}

h1 {
  text-align: center;
  font-family: Coda;
  font-weight: bold;
}

:target::before {
  display: block;
  content: " ";
  margin-top: -80px;
  height: 80px;
  visibility: hidden;
  pointer-events: none;
}

h1 a, h2 a, h3 a {
  margin: 0;
  padding: 0;
  padding-left: 5px;
  text-decoration: none;
  opacity: 0;
  transition: opacity 0.05s;
  position: absolute;
}

h1 a {
  font-size: 20px;
  padding-top: 7px;
}

h2 a {
  font-size: 16px;
  padding-top: 5px;
}

h3 a {
  font-size: 12px;
  padding-top: 3px;
}

h1:hover a, h2:hover a, h3:hover a {
  opacity: 1;
}

a:link, a:visited, a:link:active, a:visited:active {
  color: white;
}

main {
  margin: 0 auto;
  width: 90vw;
  margin-top: 75px;
  padding: 5px;
  animation: fade-in 0.75s;
  margin-bottom: 50px;
  max-width: 1200px;
}

pre {
  box-shadow: var(--material-shadow);
  padding: 15px;
  overflow: auto;
  background-color: var(--dark-turquoise-pressed);
}

.copyText {
  position: fixed;
  bottom: -50px;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 10px;
  text-align: center;
  background-color: var(--light-dark-turquoise);
  transition: bottom 0.25s;
}

.copyText.active {
  bottom: 0;
}

@keyframes fade-in {
  from {
    margin-top: 100px;
    opacity: 0.25;
  }

  to {
    margin-top: 75px;
    opacity: 1;
  }
}

.index a {
  /*text-decoration: none;*/
  color: white;
}

ol.index {
  list-style-type: none;
  counter-reset: custom-counter;
}

ol.index li::before {
  content: counter(custom-counter)".";
  color: white;
}

ol.index>li {
  counter-increment: custom-counter;
}

ol.index ul {
  list-style-type: none;
}

ol.index ul li::before {
  content: "•";
  color: white;
}

.tag {
  padding: 5px 10px 5px 10px;
  background-color: var(--dark-turquoise);
  border-radius: 5px;
  box-shadow: var(--material-shadow-light);
  display: inline-block;
  text-decoration: none;
  color: white;
  margin: 5px;
}

.tag:hover {
  background-color: var(--dark-turquoise-pressed);
}

.tags {
  padding-top: 25px;
  position: relative;
  bottom: 15px;
  width: 100%;
}

.tags .tag {
  float: right;
}

@media only screen and (max-width: 600px) {
  main {
    margin-top: 25px;
  }

  @keyframes fade-in {
    from {
      margin-top: 50px;
      opacity: 0.25;
    }

    to {
      margin-top: 25px;
      opacity: 1;
    }
  }

  .copyText{
    padding: 2px;
  }

  :target::before {
    margin-top: -50px;
    height: 50px;
  }
}
