footer {
  position: fixed;
  width: 100%;
  background-color: var(--dark-blue);
  box-shadow: var(--material-shadow);
  bottom: -1px;
  right: 0;
  padding: 10px;
  color: white;
}

footer a {
  text-decoration: none;
}

footer div {
  height: 20px;
}

footer .right {
  float: right;
  /*margin-right: 20px;*/
}

footer .left {
  float: left;
  margin-left: 20px;
}

footer .sm {
  height: 100%;
  padding: 2px;
  border-radius: 4px;
  transition: filter 0.1s;
}

footer .sm:hover {
  filter: invert(0.5) sepia(1) hue-rotate(110deg);
}

@media only screen and (max-width: 600px) {
  footer {
    font-size: 14px;
    padding: 5px;
  }

  footer div {
    height: 12px;
    padding-bottom: 5px;
  }

  footer .left {
    margin-left: 10px;
  }
}
