#scrollUp {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  height: 50px;
  width: 50px;
  bottom: 50px;
  /* Place the button at the bottom of the page */
  right: 10px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: var(--dark-turquoise);
  /* Set a background color */
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  border-radius: 50%;
  /* Rounded corners */
  font-size: 24px;
  /* Increase font size */
}

#scrollUp:hover {
  background-color: var(--dark-turquoise-pressed);
  /* Add a dark-grey background on hover */
}

#scrollUp div {
  width: 0;
  height: 0;
  margin: 0 auto;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 10px solid white;
}

footer {
  position: fixed;
  width: 100%;
  background-color: var(--dark-blue);
  box-shadow: var(--material-shadow);
  bottom: -1px;
  right: 0;
  padding: 10px;
  color: white;
}

footer a {
  text-decoration: none;
}

footer div {
  height: 20px;
}

footer .right {
  float: right;
  /*margin-right: 20px;*/
}

footer .left {
  float: left;
  margin-left: 20px;
}

footer .sm {
  height: 100%;
  padding: 2px;
  border-radius: 4px;
  transition: filter 0.1s;
}

footer .sm:hover {
  filter: invert(0.5) sepia(1) hue-rotate(110deg);
}

@media only screen and (max-width: 600px) {
  footer {
    font-size: 14px;
    padding: 5px;
  }

  footer div {
    height: 12px;
    padding-bottom: 5px;
  }

  footer .left {
    margin-left: 10px;
  }
}
