.page {
  text-align: center;
  font-size: 24px;
  display: inline-block;
  text-decoration: none;
  box-shadow: var(--material-shadow-light);
  padding: 50px 0px 50px 0px;
  min-width: 200px;
  margin: 10px;
  transition: color 0.5s;
  transition: box-shadow 0.25s;
  background-position: center;
  background-size: cover;
}

.page:hover {
  /*color: var(--light-grey);*/
  box-shadow: var(--material-shadow);
}

.page {
  background-image: url("../img/fuzzle/bg.png");
}

@media only screen and (max-width: 600px) {
  .page {
    width: 97%;
    margin-right: 0;
    padding: 20px 0px 20px 0px;
  }
}
