.hero {
  margin: 0px 10px 0px 10px;
  box-shadow: var(--material-shadow);
  overflow: hidden;
}

.hero .img {
  height: 100%;
  min-height: 300px;
  width: 100%;
  background: url("../img/code.jpg");
  background-position: center;
  background-size: cover;
  transition: transform 0.75s;
  padding-top: 20px;
}

.hero:hover img, .img:hover {
  transform: scale(1.05);
}

/*.hero .img .h1 {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
}*/
.hero .img h1 {
  font-family: Dan6erfont;
  /*color: black;*/
  font-size: 50px;
  /*background-color: var(--light-dark-turquoise);*/
  /*mix-blend-mode: screen;*/
  background-color: rgba(0, 0, 0, .5);
  margin: 0;
  padding-top: 40px;
}

.hero .img p {
  margin-top: 0;
  padding: 40px;
  bottom: 0;
  white-space: nowrap;
  /*mix-blend-mode: screen;
  background-color: var(--light-dark-turquoise);*/
  background-color: rgba(0, 0, 0, .5);
}

.page {
  min-width: 250px;
  min-height: 200px;
  flex: 1 1 0;
  background-color: var(--dark-turquoise);
  box-shadow: var(--material-shadow);
  margin: 10px;
  /*transition: color 0.5s;
  transition: box-shadow 0.25s;*/
}

.page .content {
  padding: 0px 20px 0px 20px;
}

/*.page:hover {
  color: var(--light-grey);
  box-shadow: var(--material-shadow);
}*/
.page .title {
  padding-left: 25px;
  font-size: 24px;
  font-weight: 700;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 200px;
  margin: 0;
  padding-top: 25px;
  background-color: var(--dark-grey);
}

.page p {
  font-size: 18px;
  min-height: 150px;
}

.page .title.fuzzle {
  background-size: cover;
  background-image: url("../img/fuzzle/bg.png");
}

.page .title.mariavi {
  background-image: url("/mariavi/img/logo.png");
}

.page .title.reddit {
  background-image: url("../img/icons/reddit.svg");
}

.page .title.sbs {
  background-image: url("../img/substarters/substarters-bg.png");
}

.page a {
  text-decoration: none;
}

.page-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
  padding-right: 10px;
  border-bottom: 5px solid white;
  margin: 10px 0px 10px 0px;
}

@media only screen and (max-width: 600px) {
  .hero {
    margin-top: 30px;
  }

  .hero .img p {
    white-space: normal;
  }
}
