h1 {
  text-align: left;
}

h2 {
  text-decoration: underline;
}

.top {
  display: flex;
  flex-wrap: wrap-reverse;
}

.top .card {
  padding: 10px;
  flex: 3;
  min-height: 350px;
  margin-bottom: 25px;
  max-width: 30%;
  min-width: 300px;
  box-shadow: var(--material-shadow-light);
}

.top .card img {
  width: 60%;
  padding: 0% 20% 10px 20%;
}

.top .card .table {
  overflow-x: auto;
}

.top .card table {
  width: 100%;
  border-collapse: collapse;
}

.top .card table th {
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  padding: 5px 0px 5px 0px;
}

.top .card table tr td {
  padding: 5px 0px 5px 0px;
}

.top .card table tr td:first-of-type {
  padding-left: 5px;
}

.top .summary {
  margin-right: 25px;
  width: auto;
  flex: 7;
  overflow: auto;
  display: inline-block;
  min-width: 150px;
}

.img-container {
  text-align: center;
}

.imgs-container {
  display: flex;
  flex-wrap: wrap;
}

.imgs-container .wiki-img {
  margin-bottom: 10px;
}

.wiki-img {
  padding: 5px;
  box-shadow: var(--material-shadow-light);
  margin: 0 auto;
  display: inline-block;
  text-align: center;
}

.wiki-img img {
  margin: 5px;
  padding: 0;
}

.wiki-img p {
  margin: 0;
  padding: 5px;
}
