h1 {
  text-align: left;
}

h2 {
  text-decoration: underline;
}

.top {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: flex-end;
}

.top .card {
  padding: 10px;
  flex: 1;
  min-height: 350px;
  margin-bottom: 25px;
  min-width: 300px;
  box-shadow: var(--material-shadow-light);
}

.top .card img {
  width: 60%;
  padding: 0% 20% 10px 20%;
}

.top .card table {
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto;
}

.top .card table th {
  border-bottom: 2px solid var(--dark-blue);
  border-top: 2px solid var(--dark-blue);
  padding: 5px 0px 5px 0px;
}

.top .card table tr td {
  padding: 5px 0px 5px 0px;
}

.top .card table tr td:first-of-type {
  padding-left: 5px;
}

.top .summary {
  margin-right: 25px;
  width: auto;
  flex: 100;
  overflow: auto;
  display: inline-block;
  min-width: 200px;
}

.img-container {
  text-align: center;
  max-width: 100%;
}

.imgs-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.wiki-img {
  padding: 5px;
  box-shadow: var(--material-shadow-light);
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  margin-bottom: 10px;
  max-width: 100%;
}

.wiki-img img {
  margin: 5px;
  padding: 0;
  max-width: 99%;
}

.wiki-img p {
  margin: 0;
  padding: 5px;
}

@media only screen and (max-width: 600px) {
  .top .card {
    margin-right: 25px;
  }
}
