@import "../../index";

.navbar-brand {
  color: $light-dark-turquoise !important;
}

hr {
  margin-top: 0 !important;
  border-color: $light-dark-turquoise !important;
  border-width: 2px !important;
}