@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Poppins');

html {
  height: 100%;
}

body {
  font-family: 'Open Sans';
  height: 100%;
  background-color: rgba(19, 28, 56, 0.78);
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  margin-left: 200px;
}

#WelcomeText {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-size: 28px;
}

#WelcomeImage {
  height: 300px;
  width: 300px;
  display: block;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-family: 'Anton';
  color: rgb(167, 167, 167);
}

.gameDescription {
  font-family: 'Poppins';
  text-align: center;
  color: rgb(167, 167, 167);
  font-size: 20px;
}
