.menu ul {
  position: fixed;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 360px;
  background-color: var(--dark-blue);
  top: 0;
  z-index: 1;
  left: 0;
  right: 0;
  box-shadow: var(--material-shadow);
  overflow: visible;
  transition: top 0.5s;
}

.menu ul li {
  display: inline-block;
  font-size: 16px;
  padding: 20px;
  float: right;
}

.menu ul li select {
  color: white;
  background: none;
  appearance: none;
  outline: none;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.menu ul li select option {
  background: var(--dark-blue);
  color: white;
  outline: none;
  border: none;
}

.menu ul li:first-child {
  float: left;
}

.menu ul li a {
  position: relative;
  text-transform: uppercase;
  display: block;
  text-align: center;
  color: white;
  text-decoration: none;
}

.menu ul li > a:not(.dropbtn):hover {
  text-decoration: underline;
  /*color: var(--dark-turquoise);*/
}

.menu ul li .dropbtn {

}

.menu ul li.dropdown {
  display: inline-block;
}

.menu ul li .dropcnt {
  margin-top: 15px;
  display: none;
  position: absolute;
  padding: 10px;
  background: var(--dark-blue);
  position: fixed;
  box-shadow: var(--material-shadow);
}

.menu ul li .dropcnt.search {
  right: 15px;
}

.menu ul li .dropcnt.search form input[type=search],
.menu ul li .dropcnt.search form input[type=search]:-webkit-autofill,
.menu ul li .dropcnt.search form input[type=search]:-webkit-autofill:hover,
.menu ul li .dropcnt.search form input[type=search]:-webkit-autofill:focus {
  background-color: transparent;
  max-width: 150px;
  padding: 5px;
  border: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  margin-right: -2px;
  border-bottom: solid white 1px;
  color: white;
  /*-webkit-text-fill-color: white;
  -webkit-background-color: transparent;
  -webkit-border-bottom: solid white 1px;*/
}

.menu ul li .dropcnt.search form input[type=search]:focus {
  outline: none;
}

.menu ul li .dropcnt.search form input[type=submit]{
  padding: 5px;
  border: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-left: -2px;
  color: white;
  background-color: transparent;
}

.menu ul li .dropcnt a {
  text-align: left;
  display: block;
  padding: 10px;
}

.menu ul li .dropcnt a:hover {
  background: var(--dark-blue-pressed);
}

.menu ul li.dropdown:hover .dropcnt {
  display: block;
}

.menu ul li.mobile-open {
  display: none;
}

@media only screen and (max-width: 600px) {
  .menu ul {
    top: -345px;
  }

  .menu ul.open {
    top: 0px;
  }

  .menu ul li {
    padding: 10px;
  }

  .menu ul li {
    float: none;
    display: block;
    width: 100%;
    text-align: center;
  }

  .menu ul li.mobile-open {
    cursor: pointer;
    display: block;
  }

  .menu ul li.mobile-open a div {
    width: 0;
    height: 0;
    margin: 0 auto;
    margin-top: 25px;
  }

  .menu ul li.mobile-open a div.close {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 10px solid white;
  }

  .menu ul li.mobile-open a div.open {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 10px solid white;
  }

  .menu ul li .dropcnt {
    display: block;
    text-align: center;
    position: relative;
    background: none;
    box-shadow: none;
    padding: 0;
  }

  .menu ul li .dropcnt a::before {
    content: "» ";
  }

  .menu ul li .dropcnt a {
    font-size: 14px;
    text-align: center;
    padding: 5px 0px 5px 0px;
    width: 100%;
  }

  .menu ul li {
    margin: 10px 0px 10px 0px;
    padding: 0;
  }

  .dropbtn.search {
    height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
  }

  .menu ul li .dropcnt {
    margin-top: 10px;
  }

  .menu ul li .search {
    margin: 0;
  }
}
