#Klassenfoto {
  padding-top: 100px;
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.zusammenfassung {
  float: left;
  width: 33.3333333333%;
}

.zusammenfassungTitle {
  text-decoration: underline;
  font-size: 16px;
}

.zusammenfassungImg {
  display: block;
  width: auto;
  height: 100px;
  padding-right: 10px;
  float: left;
}

.zusammenfassungDownload {
  border: 1px solid #173e43;
  padding: 2px;
  font-size: 14px;
  transition: font-size 1s;
}

.zusammenfassungDownload:hover {
  font-size: 16px;
}

.document {
  min-height: 100px;
  height: auto;
  float: left;
  width: 50%;
}

.fullsizeDocument {
  min-height: 100px;
  height: auto;
  width: 100%;
}

.thirdDocument {
  float: left;
  min-height: 100px;
  height: auto;
  width: 33.3333333333%;
}

.documentTitle {
  text-decoration: underline;
  font-size: 16px;
}

.documentImg {
  display: block;
  width: auto;
  height: 100px;
  padding-right: 10px;
  float: left;
}

.documentDownload {
  border: 1px solid #173e43;
  padding: 2px;
  font-size: 14px;
  transition: font-size 1s;
}

.documentDownload:hover {
  font-size: 16px;
}

.halfSizeImage {
  min-width: 400px;
  width: 50%;
  height: auto;
}

.quarterSizeImage {
  min-width: 200px;
  width: 25%;
  height: auto;
}

.excelTable {
  width: 1280px;
  height: 720px;
  margin: 0 auto;
}
