.Link {
  text-decoration: underline;
  color: blue;
}

#Klassenfoto {
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.zusammenfassungTitle {
  text-decoration: underline;
  font-size: 16px;
}

.zusammenfassungImg {
  display: block;
  width: auto;
  height: 60px;
  padding-right: 10px;
  float: left;
}

.zusammenfassungDownload {
  display: block;
  border: 1px solid #173e43;
  padding: 2px;
  font-size: 14px;
  transition: font-size 1s;
}

.zusammenfassungDownload:hover {
  font-size: 16px;
}

.zusammenfassung {
  padding: 0px 60px 0px 40px;
  float: left;
}
