@import url('https://fonts.googleapis.com/css?family=Lato');
#datetime {
  float: right;
  padding-right: 20px;
}

#copyright {
  float: left;
  padding-left: 70px;
}

#disclaimer {
  display: block;
  margin: 0 auto;
  height: 200px;
  width: 90%;
  padding: 100px 0px 0px 40px;
}

.mobileNav {
  height: 50px;
  width: 100%;
  display: none;color: white;
  font-family: 'Lato';
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 15px 15px 0px 0px;
  position: fixed;
  overflow: hidden;
  bottom: 0;
  left: 0;
}

.mobileNav ul {
  text-align: center;
  height: 20px;
  list-style-type: none;
}

.mobileNav ul li {
  float: left;
  margin: 0px 10px 10px 0px;
}

.mobileNav ul li a {
  text-decoration: none;
  color: white;
  transition: color 1s;
}

.mobileNav ul li a:hover {
  color: rgb(78, 78, 78);
}

.footer {
  color: white;
  font-family: 'Lato';
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 15px 15px 0px 0px;
  position: fixed;
  left: 0;
  height: 275px;
  width: 100%;
  overflow: hidden;
  bottom: -225px;
  transition: bottom 0.3s;
}

.footer:hover {
  bottom: 0px;
}

@media screen and (max-width: 670px) {
  .mobileNav {
    display: block;
  }
}

@media screen and (max-width: 450px) {
  .mobileNav ul li a {
    font-size: 12px;
  }
}
