.box-container {
    width: 100%;
    margin: 0px 20px 20px 0px;
    display: inline-block;
    max-width: 1050px;
}

.box {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    min-height: 200px;
    box-shadow: var(--material-shadow);
    color: white;
    /*background-color: var(--dark-blue);*/
}

.box .title {
    text-align: center;
    width: 25%;
    min-width: 150px;
    background-color: white;
    font-weight: bold;
    padding: 20px 5px 20px 5px;
}

.box .title.fuzzle {
    background-image: url("/res/img/fuzzle/bg.png");
}

.box .title.reddit {
    background: rgba(255, 69, 0);
}

.box .title.fuzzle a p {
    color: var(--light-dark-turquoise);
}

.box .title.reddify a img {
    box-shadow: var(--material-shadow-light);
}

.box .title a {
    width: 100%;
    display: block;
    margin: 0;
    text-decoration: none;
    font-size: 24px;
    color: var(--dark-grey);
}

.box .title a p {
    display: block;
    margin: 0;
    padding: 0;
}

.box .title a img {
    margin-top: 30px;
    width: 60%;
}

.box .content {
    padding: 0px 10px 0px 10px;
    position: relative;
    width: 75%;
}

.box .content p {
    min-height: 150px;
    padding: 0px 15px 0px 15px;
}

@media only screen and (max-width: 1200px) {
    .box-container {
        width: 100%;
        margin-right: 0;
    }
}

@media only screen and (max-width: 600px) {
    .box {
        flex-direction: column;
    }

    .box .title {
        width: 98%;
    }

    .box .content {
        width: auto;
    }
}
