.banner {
  position: relative;
  margin: 0;
  text-align: left;
  font-weight: bold;

  h2, p, span {
    color: $light-dark-turquoise;
  }

  .banner-content {
    .banner-image {
      width: 100%;
      height: 50vh;
      background: url("/res/img/code.jpg");
      background-size: cover;

      @media (max-aspect-ratio: 3/4) {
        height: 25vh;
      }
    }

    .content-container {
      width: 70%;
      min-width: 300px;
      max-width: 600px;
      padding: 20px;
      margin: 0 auto;

      .banner-title {
        font-weight: bolder;
      }
    }
  }
}