@import '../../../index';

.full-page {
  min-height: 100vh;

  .content {
    padding: 15px;
  }
}

.full-page.center {
  position: relative;
  text-align: center;

  .content {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;

    @media (max-aspect-ratio: 3/4) {
      top: 25%;
      -ms-transform: translateY(-25%);
      transform: translateY(-25%);
    }
  }
}

h2 {
  color: $dark-blue;
}

.profile-img {
  background: url('/res/img/cv/ravi.png') no-repeat center;
  background-size: contain;
  height: 200px;
  width: 200px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border-color: $dark-blue;
  border-width: 5px;
  border-style: solid;
  display: block;
  margin: 0 auto;
}