@import '../../../index';

$bar-background: rgb(220, 220, 220);

.skill {
  display: flex;
  width: 100%;
  margin: 25px 35px 0 0;
  background: $bar-background;
  padding: 0;

  div {
    margin: 0;
    padding: 0;

    &.bar {
      flex: 100 1 0;
      background: $bar-background;
      position: relative;

      div {
        background-color: $dark-turquoise;
        transition: width 1s;
        height: 100%;
      }

      span {
        right: 5px;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
  }

  p {
    margin: 0;
    padding: 5px 10px 5px 10px;

    &:first-of-type {
      width: 125px;
      text-align: center;
      background: $turquoise;
      color: white;
    }

    &.count {
      width: auto;
      color: $dark-grey;
      background: none;
    }
  }
}