@import url('https://fonts.googleapis.com/css?family=Lato');

.aboutMe {
  margin: 0 auto;
  width: 75%;
  background-color: rgba(255, 255, 255, 0.75);
  font-family: 'Lato';
  font-weight: lighter;
  padding: 20px;
  border-radius: 15px;
}

.aboutMe p {
  font-size: 18px;
}

.aboutMe table tr td {
  font-size: 16px;
  padding-bottom: 10px;
  width: 50%;
}

#personalImage {
  width: auto;
  height: 200px;
  float: left;
}

@media screen and (max-width: 550px) {
  .aboutMe p {
    font-size: 16px;
  }

  .aboutMe table tr td {
    font-size: 14px;
  }

  #personalImage {
    height: 100px;
  }
}
