.sketchfab-embed-wrapper {
  width: 1280px;
  height: 720px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.DigitaleMedienButtonPlaceholder {
  text-align: center;
}

.DigitaleMedienButton {
  width: 15%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 2px solid #173e43;
  border-radius: 4px;
}
