@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.parent {
    animation: fadein 2s;
    float: left;
    color: black;
}

.parentText {
    background-color: #fae596;
    border-radius: 15px;
    margin: 0px 50px 25px 50px;
    text-align: center;
    padding: 20px 0px 20px 0px;
    font-size: 25px;
    opacity: 1;
    transition: opacity 1s;
}

.child {
    opacity: 0;
    transition: opacity 1s;
}

.childText {
    background-color: #3fb0ac;
    margin: 20px 20px 20px 20px;
    padding: 10px;
    border-radius: 15px;
    color: black;
    font-size: 19px;
}

.hoverIndicator {
    margin: 0px 40px 10px 40px;
    font-size: 12px;
    text-align: center;
    color: black;
    background-color: #fae596;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    opacity: 1;
    transition: opacity 1s;
    width: 60%;
    margin: 0 auto;
}

.parent:hover .child {
    opacity: 1;
}

.parent:hover .parentText, .parent:hover .hoverIndicator {
    opacity: 0.5;
}
