@import url('https://fonts.googleapis.com/css?family=Lato');
#datetime {
  float: right;
  padding-right: 20px;
}

#copyright {
  float: left;
  padding-left: 70px;
}

#disclaimer {
  display: block;
  margin: 0 auto;
  height: 200px;
  padding: 20px 0px 0px 0px;
  width: 90%;
  margin-top: 50px;
}

footer {
  font-family: 'Lato';
  background-color: #4CAF50;
  border-radius: 15px 15px 0px 0px;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: auto;
}

.mobileNav {
  height: 35px;
  width: 100%;
  display: none;
}

.mobileNav ul {
  text-align: center;
  height: 20px;
  list-style-type: none;
}

.mobileNav ul li {
  float: left;
  margin-right: 10px;
}

.mobileNav ul li a {
  text-decoration;
  none;
  color: white;
  transition: color 1s;
}

.mobileNav ul li a:hover {
  color: rgb(78, 78, 78);
}

.footer {
  font-family: 'Lato';
  background-color: #4CAF50;
  border-radius: 15px 15px 0px 0px;
  position: fixed;
  left: 0;
  height: auto;
  width: 100%;
  overflow: hidden;
  bottom: -225px;
  transition: bottom 0.3s;
}

.footer:hover {
  bottom: 0px;
}

@media screen and (max-width: 670px) {
  .footer {
    display: none;
  }
  .mobileNav {
    display: block;
  }
}
