#GuitarVideoPlaceholder {
  width: 80%;
  padding-top: 45%;
  margin: 0 auto;
  position: relative;
}

#GuitarVideo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.videoButtonPlaceholder {
  text-align: center;
}

.videoButton {
  width: 15%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 2px solid #173e43;
  border-radius: 4px;
}
