@import url('https://fonts.googleapis.com/css?family=Anton');

.sidenav div {
    position: absolute;
    z-index: +1;
    left: -155px;
    transition: all ease 0.3s;
    padding: 15px;
    width: 175px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 0 5px 5px 0;
    background-color: #4CAF50;
    top: 150px;
}

.sidenav div:hover {
    left: 0;
}

.sidenav div ul {
  list-style-type: none;
}

.sidenav div ul li  {
  padding-bottom: 20px;
}

.sidenav div ul li a {
  font-family: 'Lato';
  text-decoration: none;
  color: white;
  transition: color 0.5s;
}

.sidenav div ul li a:hover {
  color: rgb(48, 48, 48);
}

.home a{
  color: white;
  text-decoration: none;
  float: left;
  font-family: 'Lato';
  font-weight: lighter;
  transition: color 0.5s;
}

.home:hover a {
  color: #4CAF50;
}

.name {
  padding-left: 10px;
  font-size: 36px;
}

.icon {
  font-size: 40px;
}
