@import url('https://fonts.googleapis.com/css?family=Anton');

.sidenav div {
  position: absolute;
  z-index: +1;
  left: -180px;
  transition: all ease 0.3s;
  padding: 15px;
  width: 200px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 0 5px 5px 0;
  background-color: #4CAF50;
  top: 150px;
}

.sidenav div:hover {
  left: 0;
}

.sidenav div ul {
  list-style-type: none;
}

.sidenav div ul li {
  padding-bottom: 20px;
}

.sidenav div ul li a {
  font-family: 'Lato';
  text-decoration: none;
  color: white;
  transition: color 0.5s;
}

.sidenav div ul li a:hover {
  color: rgb(48, 48, 48);
}

.home {
  color: white;
  text-decoration: none;
  float: left;
  font-family: 'Lato';
  font-weight: lighter;
  transition: color 0.5s;
  padding-left: 10px;
  font-size: 36px;
}

.home:hover {
  color: #4CAF50;
}

.icon {
  font-size: 40px;
}

.dropbtn .dropdownContent {
  overflow: hidden;
  left: 0px;
  padding: 0px;
  position: static;
  max-height: 0px;
  transition: all ease 1s;
  width: auto;
}

.dropbtn .dropdownContent a {
  display: inline-block;
  padding: 5px;
}

.dropbtn:hover .dropdownContent {
  padding-top: 10px;
  height: auto;
  max-height: 1000px;
}
