@import url('https://fonts.googleapis.com/css?family=Lato');

.guitarVideo {
  display: block;
  margin: 0 auto;
  width: 1280px;
  height: 720px;
  margin-top: 40px;
}

.iframeContainer {
  padding-bottom: 60px;
  margin-bottom: 60px;
  border-bottom: solid white 5px;
}

.hobbyText {
  display: block;
  margin: 0 auto;
  width: 50%;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 15px;
  font-family: 'Lato';
  font-weight: lighter;
  padding: 20px;
}

.buttonPlaceholder {
  width: 100%;
  text-align: center;
}

.buttonPlaceholder a {
  display: inline;
  font-family: 'Lato';
  font-weight: lighter;
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: font-size 0.5s;
  float: left;
  padding: 20px;
  margin-right: 10px;
  border: white solid 1px;
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, #4CAF50 50%, black 50%);
  transition: background-position 1s;
}

.buttonPlaceholder a:hover {
  background-position: 0 -100%;
}
