#ContactButton {
  display: block;
  font-size: 35px;
  border: 2px solid #173e43;
  color: #173e43;
  padding: 6px 6px 20px 20px;
  align-content: center;
  transition: font-size 0.5s;
  text-align: center;
  margin: 0 auto;
  width: 400px;
  height: 35px;
}

#ContactButton:hover {
  font-size: 40px;
}
