#KampfsportTop {
    width: 100%;
    min-height: 750px;
}

#KarateImagePlaceholder {
    width: 40%;
    float: left;
}

#KarateImage {
    width: 100%;
}

#KarateImageCaption {
    width: 90%;
    margin: 0px 10px 0px 40px;
}

#KarateImageCaptionTable {
    text-align: center;
    padding-top: 10px;
}

#KarateSlideshowContainer {
    width: 40%;
}