@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans');

body {
  background-color: rgb(17, 20, 28);
}

.sunsetImage {
  background-image: url('../Images/Backgrounds/Sunset Panorama.png');
}

.topImage {
  background-size: cover;
  background-position: center;
  height: 650px;
}

h2 {
  font-family: 'Droid Sans';
  color: white;
  text-align: center;
}
