.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.guitarParallax {
  height: 500px;
    background-image: url('../Images/Guitar/Guitar Black and White.jpg');
}

.programmingParallax {
  height: 500px;
    background-image: url('../Images/Programming/YourStats 02.jpg');
}

.kampfsportParallax {
  height: 500px;
    background-image: url('../Images/Karate/Club Meisterschaft 2016.jpg');
}

.digitaleMedienParallax {
  height: 500px;
    background-image: url('../Images/Media/Blender Hoverboard.png');
}

.reisenParallax {
  height: 500px;
    background-image: url('../Images/Travelling/2005 - Hawaii 01.JPG');
}

.dominationParallax {
  background-image: url('../TechDog/Images/Domination/Domination In-Game.png');
}

.segwayParallax {
  background-image: url('../TechDog/Images/Segway Surfers/Segway Surfers In-Game.png');
}
