@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

:root {
  font-family: Nunito Sans;
}

div {
  display: flex;
  border: none;
}

img {
  width: 50px;
  height: auto;
  align-self: center;
  border-radius: 50%;
}

a, p {
  display: block;
  color: white;
  text-decoration: none;
  padding: 0;
  margin: 0;
  margin: 15px 0px 0px 20px;
}

#led {
  position: absolute;
  top: 45px;
  left: 45px;
  border-radius: 50%;
  border: 2px solid white;
  height: 10px;
  width: 10px;
}

#led div {
  font-size: 14px;
  color: white;
  background-color: black;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  top: -37.5px;
  left: -20px;
  opacity: 0;
  transition: opacity 0.15s;
}

#led div:after {
  content:'';
  position: absolute;
  top: 100%;
  left: 40%;
  width: 0;
  height: 0;
  border-top: solid 5px black;
  border-left: solid 5px transparent;
  border-right: solid 5px transparent;
}

#led:hover div {
  opacity: 1;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}
