/*Color Palett:
    light grey: #dddfd4
    yellow: #fae596
    light blue: #3fb0ac
    navy blue: #173e43*/

@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  animation: fadein 1s;
  font-family: 'Open Sans';
  background: #f1f6ff;
}

h1 {
  color: black;
  text-align: center;
  margin: 20px 20px 5px 20px;
  padding: 10px;
  font-size: 28px;
  background: white;
  border-radius: 4px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.08);
}

#Zusammenfassungen {
  overflow: auto;
}

#WelcomeImage {
  height: 300px;
  width: auto;
  display: block;
  margin: 0 auto;
}

h2 {
  font-family: 'Roboto';
  font-weight: bolder;
  color: black;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

#FancyButton {
  text-align: center;
  margin: 0 auto;
}

#FancyButton a {
  font-size: 35px;
  color: black;
  border-bottom: 2px solid white;
  transition: border-bottom 250ms;
}

#FancyButton a:hover {
  border-bottom: 2px solid #0D47A1;
}

#Klassenfoto {
  padding-top: 40px;
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/*Documents*/

.document {
  margin: 20px;
  border-radius: 4px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.08);
  padding: 15px;
  display: inline-block;
  position: relative;
  background: white;
}

.documentHolder {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.documentThumbnail {
  height: 100px;
  width: auto;
  display: block;
  margin-right: 10px;
  float: left;
}

.documentTitle {
  display: inline;
  font-size: 16px;
}

.downloadButton {
  min-width: 200px;
  display: block;
  margin-top: 10px;
  font-size: 16px;
  transition: color 250ms;
}

.downloadButton:hover {
  color: #0D47A1;
}

.zusammenfassungThumbnail {
  height: 125px;
  width: auto;
  display: block;
  float: left;
  padding-right: 10px;
}

.image {
  width: 50%;
  height: auto;
}

#homeworkTable {
  border-collapse: collapse;
  margin-left: 40px;
}

#homeworkTable tbody tr {
  border-bottom: solid black 1px;
}

#homeworkTable tbody tr td {
  padding: 5px 10px 5px 10px;
}

#homeworkTable tbody tr th {
  padding-bottom: 10px;
}

#homeworkDate {
  border-radius: 5px;
  height: 20px;
  border-color: #173e43;
}

#homeworkSubject {
  border-radius: 5px;
  height: 20px;
  border-color: #173e43;
}

#homeworkJob {
  border-radius: 5px;
  height: 20px;
  border-color: #173e43;
}

#homeworkAdd {
  border-radius: 5px;
  height: 20px;
  border-color: #173e43;
}
